body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
h1.banner{
    font-size: 44px;
    font-weight: 700;
    color: rgb(9, 81, 153);
    text-align: center;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#topnav{
    text-align: center;
    background-color: rgb(9, 81, 153);
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    min-height: 30px;
    line-height: 200%;
}
.menu > li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right:1px solid #fff;
    width: 150px;
    height: 40px;
}
.menu > li:first-child{
    border-left: 1px solid #fff;
}
.menu a{
    color: #fff;
    text-decoration: none;
}
.menu li:hover{
    color: rgb(2, 42, 92);
    background-color: rgb(11, 88, 165);
}