nav {
	padding: 0 10px 0 10px;
}

main {
	padding-bottom: 100px;
}

.small-form {
	width: 500px;
	margin: 0 auto;
}

.break {
	padding: 20px;
}

.bold {
	font-weight: bold;
}

.error {
	background-color: white;
	color:red;
}

.success {
	background-color: white;
	color: green;
}