{% extends "base.html" %}

{% block banner %}
Reset hasła
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Wprowadź nowe hasło</p>
        <form method="POST" class="small-form">
        {% csrf_token %}
            <div class="input-field">
                <input id="id_new_password1" name="new_password1" type="password" required>
                <label for="password1">Nowe hasło</label>
            </div>
            <div class="input-field">
                <input id="id_new_password2" name="new_password2" type="password" required>
                <label for="password2">Potwierdź hasło</label>
            </div>
            <button class="btn-large z-depth-0" type="submit" name="action">Resetuj moje hasło</button>
        </form>
    {% else %}
        <p>Link wygasł lub został już użyty. Spróbuj ponownie.</p>
    {% endif %}
{% endblock %}