{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
  {% block title %}<title>Platforma E-Learningowa</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>
  <nav class="z-depth-0 white">
    <a href="{% url 'index' %}" class="left brand-logo black-text"><img src="{% static 'logo.jpg' %}" class="responsive-img" height="100" width="300" alt=""></a>
    <ul id="nav" class="right">

      {% if user.is_authenticated %}
        <li><a href="{% url 'courses' 1 %}" class="black-text">Wszystkie kursy</a></li>
        <li><a href="{% url 'user_courses' 1%}" class="black-text">Twoje kursy</a></li>
        <!-- wylogowanie -->
        <li>
          <a href="javascript:{document.getElementById('logout').submit()}" class="btn z-depth-0">Wyloguj się</a>
          <form action="{% url 'logout' %}" method="POST" id="logout">{% csrf_token %}<input type="hidden"></form>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}" class="btn z-depth-0">Zaloguj się</a></li>
      {% endif %}
    </ul>
  </nav>
  <main class="container center-align">
    <h4>{% block banner %}{% endblock %}</h4>
    {% block content %}
    {% endblock %}

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <body onload="M.toast({html: '{{message}}', classes: 'success', displayLength: 2000})">
        {% else %}
          <p class="error">{{message}}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>