{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
  {% block title %}<title>Platforma E-Learningowa</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
  <nav class="z-depth-0 white">
    <a href="{% url 'index' %}" class="left brand-logo black-text">E-learning PRz</a>
    <ul id="nav" class="right">

      {% if user.is_authenticated %}
        <li><a href="{% url 'courses' %}" class="black-text">Wszystkie kursy</a></li>
        <li><a href="{% url 'user_courses' %}" class="black-text">Twoje kursy</a></li>
        <!-- wylogowanie -->
        <li>
          <a href="javascript:{document.getElementById('logout').submit()}" class="btn z-depth-0">Wyloguj się</a>
          <form action="{% url 'logout' %}" method="POST" id="logout">{% csrf_token %}<input type="hidden"></form>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}" class="btn z-depth-0">Zaloguj się</a></li>
      {% endif %}

    </ul>
  </nav>
  <main class="container center-align">
    <h4>{% block banner %}{% endblock %}</h4>
    {% block content %}
    {% endblock %}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>