{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
  {% block title %}<title>Platforma E-Learningowa</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext">
</head>
<body>
  <div class="contaier-fluid">
    <div class="logindiv">{%block login %}<a class = "login" href="{% url 'login' %}">Logowanie do platformy</a>{% endblock %}</div>
    <div>{% block banner %}{% endblock %}</div>
      {% block topnav %}
        <nav id="topnav">
          <ul class="menu">
            <li><a href="{% url 'index' %}">Strona Główna</a></li>
            <li><a href="{% url 'courses' %}">Lista Kursów</a></li>
            <li><a href="#">Twoje Kursy</a></li>
          </ul>
        </nav>
     {% endblock %}
     <div>{% block content %}{% endblock %}</div>
  </div>
</body>
</html>