{% extends "base.html" %}

{% block banner %}
Zmiana Danych Użytkownika
{% endblock %}

{% block content %}
    <div class="small-form">
        <form method="POST">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" name="first_name" required>
                <label for="first_name">Nowe imię</label>
            </div>
            <div class="input-field">
                <input type="text" name="last_name" required>
                <label for="last_name">Nowe nazwisko</label>
            </div>
            <div class="input-field">
                <input type="email" name="email" required>
                <label for="email">Nowy email</label>
            </div>
            <br>
            <div class="input-field">
                <input type="password" name="password" required>
                <label for="password">Hasło</label>
            </div>
            <button class="btn z-depth-0" type="submit">Zmień dane</button>
        </form>
    </div>
{% endblock %}