{% extends "base.html" %}

{% block banner %}
    <h1 class = "banner" >Zmiana Hasła</h1>
{% endblock %}

{% block content %}

            <form method="POST">
                {% csrf_token %}
                <input type="password" name="oldpassword" placeholder="stare hasło" onfocus="this.placeholder=''" onblur="this.placeholder='oldpassword'" required>
                <input type="password" name="newpassword" placeholder="nowe hasło" onfocus="this.placeholder=''" onblur="this.placeholder='newpassword'" required>
                <input type="password" name="newpassword2" placeholder="powtórz hasło" onfocus="this.placeholder=''" onblur="this.placeholder='newpassword2'" required>
                <input type="submit" value="Zmien hasło">
            </form>

{% endblock %}