{% extends "base.html" %}

{% block banner %}
Zmiana Hasła
{% endblock %}

{% block content %}
	<div class="small-form">
        <form method="POST">
        	{% csrf_token %}
        	<div class="input-field">
            	<input type="password" name="oldpassword" required>
            	<label for="oldpassword">Wprowadź stare hasło</label>
            </div>
            <div class="input-field">
            	<input type="password" name="newpassword" required>
            	<label for="newpassword">Wprowadź nowe hasło</label>
            </div>
            <div class="input-field">
            	<input type="password" name="newpassword2" required>
            	<label for="newpassword2">Potwierdź nowe hasło</label>
            </div>
            <button class="btn z-depth-0" type="submit">Zmień hasło</button>
        </form>
    </div>
{% endblock %}