{% extends "base.html" %}

{% block banner %}
{% endblock %}

{% block content %}
<div class= "left-align">
    <a href="{% url 'course_detail' class.course_id_id %}" id="link-courses-details"> << Powrót do kursu</a>
    
    <div>
        <h4>{{ class.name }}</h4>
        <p> {{class.description}}</p>
    </div>

    <div class= "content">
            {% for content in class.content_set.all %}
                <p>{{content.text}}</p>
            {% endfor %}
    </div>

    <br/>

    <div class= "tests">
        <h5>Testy do zajęć</h5>
        <ul>
            {% for test in class.test_set.all %}
                <li>
                    {{test.name}}
                    <!-- link --> 
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if perms.dbhandler.add_test %}
		<a href="{% url 'createtest' class.id %}" class="btn">Dodaj test</a>
	{% endif %}

    <div class="break"></div>
    
    <div class= "comments">
        <h5>Komentarze </h5> 
            
                {% for comment in class.comment_set.all %}
                    <thread style="color:grey"> {{comment.author_id}} </thread>
                        <div class="nav-wrapper blue lighten-5">
                            {{comment.text}} 
                        </div>
                        <br/>

                {% endfor %}  
                

         <h6>Dodaj komentarz</h6>
            
            <form method= "POST">
                    {% csrf_token %}
                <input name="comment" type="text" required>
                <input name="author" type="hidden"  value="{{ comment.author_id }}"/>
                <input name="id" type="hidden"  value="{{ comment.course_id_id }}"/>
                <button class="btn" type="submit" name="action">Dodaj komentarz</button>
            </form>

    </div>
</div>
{% endblock %}