{% extends "base.html" %}

{% block banner %}
	<h1 class="banner">{{ class.name }}</h1>
{% endblock %}

{% block content %}
<div class= "lesson-container">
    <a href="{% url 'course_detail' class.course_id_id %}" id="link-courses-details"> Lista zajęć</a>

    <h2>{{ class.name }}</h2>

    <div class= "content">
        {% for content in class.content_set.all %}

            {{content.text}}

        {% endfor %}
    </div>

    <div class= "tests">
        <h4>Testy do zajęć</h4>
        <ul>
            {% for test in class.test_set.all %}
                <li>
                    {{test.name}}
                    <!-- link --> 
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class= "comments">
        <h4>Komentarze </h4> 
            
            <ul>
                {% for comment in class.comment_set.all %}

                    {{comment.author_id}}
                    {{comment.text}}

                {% endfor %}  
            </ul>

         <h5>Dodaj komentarz</h5>
            {% csrf_token %}
            <form method= "POST">
                <input type="text" name="comment">
                <input type="hidden" name="author" value="{{ comment.author_id }}"/>
                <input type="hidden" name="id" value="{{ comment.course_id_id }}"/>
                <input type="submit" value="Dodaj komentarz">
            </form>

    </div>
</div>
{% endblock %}