{% extends "base.html" %}
{% load auth_extras %}

{% block banner %}
{{class.name}}
{% endblock %}

{% block content %}
<div class= "left-align">
    <a href="{% url 'course_detail' class.course_id_id %}" id="link-courses-details"> << Powrót do kursu</a>
    <div>
        {% if perms.dbhandler.change_class %}
            <a class="btn" style="float: right;" href="{% url 'edit_class' class.id %}">Edytuj zajęcia</a>
        {% endif %}
        <div class="break"></div>
        <p> {{class.description}}</p>
    </div>
    <div class= "content">
            <p>{{content.text|safe|escape}}</p>
    </div>
    <div class="break"></div>
    <div class= "tests">
        <h5>Testy do zajęć</h5>
        <ul  class="collection left-align">
            {% for test in class.test_set.all %}
                <li class="collection-item" style="line-height: 38px;">
                    <a href="{% url 'completetest' test.id %}">{{test.name}}</a>
                    {% if user|has_group:'Prowadzący' %}
                    <a href="{% url 'testscores' test.id %}" class="btn" style="float: right;">Zobacz wyniki</a>
                    <a href="{% url 'managetest' test.id %}" class="btn" style="float: right;">Edytuj Test</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if perms.dbhandler.add_test %}
		<a href="{% url 'createtest' class.id %}" class="btn">Dodaj test</a>
	{% endif %}
    <div class="break"></div>
    <div class= "comments">
        <h5>Komentarze </h5> 
        <div class="break"></div>
         {% for comment in class.comment_set.all %}
            <thread style="color:grey"> {{comment.author_id}} </thread>
            <div class="nav-wrapper blue lighten-5">
                 {{comment.text}}
            </div>
            <div class="break"></div>
         {% endfor %}  
        <div class="break"></div>
        <h6 class>Dodaj komentarz</h6>
        <form method= "POST">
            {% csrf_token %}
            <input name="comment" type="text" required>
            <input name="author" type="hidden"  value="{{ user.id}}"/>
            <input name="id" type="hidden"  value="{{ class.id }}"/>
            <button class="btn" type="submit">Dodaj komentarz</button>
        </form>
    </div>
</div>
{% endblock %}