{% extends "base.html" %}

{% block content %}
    <h2>{{ test.name }}</h2>
    <form action="{% url 'finished' test.id %}" method="POST">
        {% csrf_token %}   
        <table>
            {% for q in questions %}
                <tr><td colspan=2>{{ q.question_text|safe|escape }}</td></tr>
                {% for a in answers %}
                    {% if a.question_id == q %}
                    <tr><td>{{ a.answer_text }}</td><td style="width: 50px;"><label><input type="radio" name="Question{{ forloop.parentloop.counter }}" value="{{ a.id }}" required/><span></span></label></td></tr>
                    {% endif %}
                {% endfor %}
            {% endfor%}
            <input class="btn" type="hidden" name="qc" value="{{ qCount }}" />
            <tr><td colspan=2><button class="waves-effect waves-light btn-small" type="submit">Zakończ</button></td></tr>
        </table>
    </form>
{% endblock %}