{% extends "base.html" %}
{% block banner %}
Dostępne kursy
{% endblock %}
{% block content %}

<form class="form-inline"  method="GET">
	<input type="search" placeholder="Nazwa kursu"  name='course_name'>
	<input type="search" placeholder="Imie instruktora"  name='instr_name'>
	<input type="search" placeholder="Nazwisko instruktora"  name='instr_lastname'>
	<input type="search" placeholder="Nazwa przedmiotu"  name='module_name'>
	<button class="btn" type="submit">Wyszukaj</button>
</form>

<br></br>

	{% if courses.paginator.count %}
	    <ul class="collection left-align">
			{% for course in courses %}
				<li class="collection-item">
					{{ course.name }}
					<span class="grey-text text-lighten-1">{{ course.module_id.name }} [{{  course.course_type.name }}]</span>
					{% for i in instructors %}
						{% for u in users %}%}
							{% if i.course_id == course and i.user_id == u %}
								{{ u.first_name}} {{u.last_name}}
							{% endif %}
						{% endfor %}
					{% endfor %}
					{% if perms.dbhandler.add_participant %}
						<a href="{% url 'join_course' course.id %}" class="secondary-content">Zapisz się</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		Brak kursów.
	{% endif %}

	{% if courses.has_other_pages %}
  <ul class="pagination">
    {% if courses.has_previous %}
      <li><a class="btn" href="{{ courses.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li><span class="btn" style="color: #444; padding: 0 10px; line-height: 30px; font-size: 1.2rem;">&laquo;</span></li>
    {% endif %}
    {% for i in courses.paginator.page_range %}
      {% if courses.number == i %}
        <li ><span class="btn" style="padding: 0 10px; line-height: 30px; font-size: 1.2rem;">{{ i }}</span></li>
      {% else %}
        <li><a class="btn" href="{{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if courses.has_next %}
      <li><a class="btn" href="{{ courses.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span class="btn" style="color: #444; padding: 0 10px; line-height: 30px; font-size: 1.2rem;">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

	<div class="break"></div>
	{% if perms.dbhandler.add_course %}
		<a href="{% url 'addcourse' %}" class="btn">Dodaj kurs</a>
	{% endif %}
{% endblock %}