{% extends "base.html" %}
{% block banner %}
Dostępne kursy
{% endblock %}
{% block content %}
	{% if object_list.all %}
	    <ul class="collection left-align">
			{% for course in object_list %}
				<li class="collection-item">
					{{ course.name }}
					<span class="grey-text text-lighten-1">&#8195{{ course.module_id.name }} [{{  course.course_type.name }}]</span>
					<a href="{% url 'join_course' course.id %}" class="secondary-content">Zapisz się</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		Brak kursów.
	{% endif %}


	{% if perms.dbhandler.addcourse %}
		<a href="{% url 'addcourse' %}" class="btn">Dodaj kurs</a>
	{% endif %}
{% endblock %}