{% extends "base.html" %}

{% block banner %}
Zarządzanie testem
{% endblock %}

{% block content %}    
    {% csrf_token %} 
    {% for q in questions %}
        <form method="POST"> 
        {% csrf_token %}
            <div class="row">
                <input type="hidden" name="tID" value="{{ test.id }}"/><input type="hidden" name="qID" value="{{q.id}}"/>
                <button class="btn z-depth-0 left" type="submit" name="action">Usuń</button>
                <span class="right">{{ q.question_text }}</span>
            </div>
        </form>    
    {% endfor %}
    <input type="hidden" name="tID" value="{{ test.id }}"/>
    <a href="{% url 'addquestions' test.id %}" class="btn z-depth-0" style="margin-top:10px">Dodaj pytanie</a>
{% endblock %}