{% extends "base.html" %}

{% block content %}
    <h2>testy</h2>
    <form method="POST">
        {% csrf_token %}   
        <ul>
            {% for question in questions %}
                <li>{{ question.question_text }}</li>
                <ul>
                    {% for answer in answers %}
                        {% if answer.question_id_id == question.id %}
                            <li><input type="radio" name="question{{ question.id }}" value="answer{{ answer.id }}"/>{{ answer.answer_text }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <input type="submit" value="Zakończ test">
    </form>
{% endblock %}