{% extends "base.html" %}

{% block content %}
    <h2>{{ test.name }}</h2>
        <table>
            {% for r in results%}
            <tr>
                {% for u in users%}
                    {% if u.id == r.user_id_id %}
                    <td>{{ u.first_name }}</td>
                    <td>{{ u.last_name }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ r.result }}</td><td>{{ r.maxScore }}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}