{% extends "base.html" %}

{% block content %}
    <h2>{{ test.name }}</h2>
    <table>
        <thead>
            <tr>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Uzyskane punkty</td>
                <td>Max punktów</td>
            </tr>
        </thead>
        <tbody>
            {% for r in results%}
            <tr>
                {% for u in users%}
                    {% if u == r.user %}
                    <td>{{ u.first_name }}</td>
                    <td>{{ u.last_name }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ r.result }}</td><td>{{ r.maxScore }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}