{% extends "base.html" %}

{% block banner %}
Profil użytkownika {{ user.username }}
{% endblock %}
{% block content %}
<div class="small-form">
    <ul>
        <li>{{ user.first_name }} {{ user.last_name }}</li>
        <li>Email: {{ user.email }} </li>
        <li>Data dołączenia: {{ user.date_joined }} </li>
        <li>Role użytkownika:
        {% for group in groups %} {{ group }} {% endfor %}
        </li>
    </ul>

    <a href="{% url 'userdatachange' %}" class="btn z-depth-0">Zmień Dane użytkownika</a>
    <a href="{% url 'changepassword' %}" class="btn z-depth-0">Zmień Hasło</a>

</div>
{% endblock %}
